pm_url                  = "https://proxmox-1.example.com/api2/json"
pm_user                 = "root@pam"
pm_password             = "SENSITIVE"
pm_ssh_url              = "proxmox-1.example.com"
pm_ssh_user             = "root"
pm_ssh_password         = "SENSITIVE"
pm_bpg_url              = "https://proxmox-1.example.com"
